.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 10;
  overflow-y: auto;
}

.header::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.0625rem;
  background: #ececec;
}

.header .header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.75rem;
}

.menu {
  display: flex;
  width: 100%;
}

.menu .menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu .menu__list {
  list-style: none;
  display: flex;
  gap: 3.125rem;
  height: 100%;
}

.menu .menu__item {
  display: flex;
}

.menu .menu__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  padding: 2rem 0;
  transition: opacity 0.3s ease;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu .menu__link:hover {
  color: var(--accent-color);
}

.menu .menu__link::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  height: 0.25rem;
  background: var(--accent-color);
  border-radius: 0.125rem;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.menu .menu__link:hover::after {
  opacity: 1;
}

.header .header__contacts {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}

.header .header__contact {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  fill: var(--sub-text-color);
  font-weight: 500;
  transition: fill 0.3s ease;
}

.header .header__contact:hover {
  fill: var(--accent-color);
}

.header .header__contact-text {
  color: var(--sub-text-color);
  letter-spacing: 0.02em;
  transition: color 0.3s ease;
}

.header .header__contact:hover .header__contact-text {
  color: var(--accent-color);
}

.header .header__socials {
  display: none;
}

.menu-button {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-button .menu-button__wrapper {
  position: relative;
  width: 1.5rem;
  height: 1rem;
}

.menu-button .menu-button__line {
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: var(--text-color);
  transition: all 0.3s ease;
}

.menu-button .menu-button__line:nth-child(1) {
  top: 0;
  left: 0;
}

.menu-button .menu-button__line:nth-child(2) {
  top: 50%;
  left: 0;
}

.menu-button .menu-button__line:nth-child(3) {
  top: 100%;
  left: 0;
}

.menu-button.menu-button_active .menu-button__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

.menu-button.menu-button_active .menu-button__line:nth-child(2) {
  display: none;
}

.menu-button.menu-button_active .menu-button__line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.menu-button:hover .menu-button__line {
  background: var(--accent-color);
}

@media screen and (max-width: 1023px) {
  .header .header__contacts {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: flex;
  }

  .header .header__menu {
    justify-content: flex-end;
  }

  .header .menu .menu__body {
    display: none;
  }

  .header .header__container {
    padding: 1rem 0;
    justify-content: space-between;
  }

  .header.header_menu-active {
    align-items: flex-start;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
  }

  .header.header_menu-active .header__container {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 1rem 1rem 3rem 2.5rem;
    height: 100%;
  }

  .header.header_menu-active .menu {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .header.header_menu-active .menu {
    height: 100%;
  }

  .header.header_menu-active .menu .menu__body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .header.header_menu-active .menu .menu__list {
    width: 100%;
    flex: 1;
    flex-direction: column;
    height: max-content;
    font-size: 2.5rem;
    line-height: 1.175;
    gap: 0;
    overflow-y: auto;
  }

  .header.header_menu-active .menu .menu__link {
    padding: 1rem 0;
  }

  .header.header_menu-active .menu .menu__link::after {
    display: none;
  }

  .header.header_menu-active .header__contacts {
    gap: 2rem;
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }

  .header.header_menu-active .header__contact-icon {
    display: none;
  }

  .header.header_menu-active .header__contact-phone-text {
    font-size: 2.125rem;
    color: var(--accent-color);
  }

  .header.header_menu-active .header__contact-mail-text {
    font-size: 1.5rem;
  }

  .header.header_menu-active .header__socials {
    display: flex;
  }

  .header.header_menu-active .header__social-link {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.222;
    padding: 0 0.625rem;
    color: var(--accent-color);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .header.header_menu-active .header__social:first-child .header__social-link {
    padding-left: 0;
  }

  .header.header_menu-active .header__social:last-child .header__social-link {
    border: none;
  }

  .header.header_menu-active .logo {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header.header_menu-active .header__social-link {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) {
  .header.header_menu-active .header__social-link {
    font-size: 0.75rem;
  }

  .header.header_menu-active .header__contact-phone-text {
    font-size: 1.75rem;
  }

  .header.header_menu-active .header__contact-mail-text {
    font-size: 1.25rem;
  }
}
