:root {
  --primary-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
  --text-color: #212121;
  --sub-text-color: #757575;
  --alt-text-color: #ffffff;
  --letter-spacing: 0.03em;
  --section-padding: 5.875rem;
}
